	<footer>
        <div class="container-footer">
             <div class="col-md-4 col-sm-4">
                     <span>
                        <i class="glyphicon glyphicon-remove"></i> Footer section 1
                     <span>
                     <p>Lorem ipsum dolor sit amet, consectetur
                     </p>
             </div>
                 <div class="col-md-4 col-sm-4">
                    <span>
                        <i class="glyphicon glyphicon-remove"></i> Footer section 1
                     <span>
                    <p>Lorem ipsum dolor sit amet, consectetur
                     </p>
                 </div>
                 <div class="col-md-4 col-sm-4">
                     <span>
                        <i class="glyphicon glyphicon-remove"></i> Footer section 1
                     <span>
                     <p>Lorem ipsum dolor sit amet, consectetur
                     </p>
                 </div>
             
        </div>
	</footer>

	<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>-->
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>

    <!-- Main js file -->
    <script src="js/main.js"></script>

    <!-- Page specific js files -->
    <script src="js/home.js"></script>
        
    </body>
</html>