<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Project Title</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/main.css">
        
        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

        <script src="//localhost:35729/livereload.js"></script>
    </head>
    <body class="main-container">

            <header>
                 <div class="container header-container">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="#" class="header-logo"><img src="" alt="..."></a>
                        </div>
                        <div class="col-md-8">
                           <img src="img/bootstrap-3.jpg" alt="..." class="img-circle header-images">
                        </div>
                    
                </div>
            </header>
              <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li class="active"><a href="#">About us</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Partners</a></li>
        <li><a href="#">Customers</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Contact</a></li>            
    </ul>
</nav>
            