<% include partials/header %>

	<div class="container main-container home-container">
		<div class="jumbotron">
		  <h1>Hello, world!</h1>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus cumque libero provident et illo ut, sed repellat assumenda sapiente obcaecati sint dolor, maxime explicabo expedita id repudiandae asperiores quod.</p>
		  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
		<div class="row">
			<div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <img src="img/green.jpg" alt="...">
			      <div class="caption">
			        <h2>Thumbnail label</h2>
			        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex nesciunt, vero voluptate</p>
			        <p><a href="#" class="btn btn-primary" role="button">click</a> <a href="#" class="btn btn-default" role="button">click</a></p>
			      </div>
			    </div>
			</div>
			<div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <img src="img/kunkka.jpg" alt="...">
			      <div class="caption">
			        <h2>Thumbnail label</h2>
			        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex nesciunt, vero voluptate</p>
			        <p><a href="#" class="btn btn-primary" role="button">click</a> <a href="#" class="btn btn-default" role="button">click</a></p>
			      </div>
			    </div>
			</div>
			<div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <img src="img/maska.jpg" alt="...">
			      <div class="caption">
			        <h2>Thumbnail label</h2>
			        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex nesciunt, vero voluptate</p>
			        <p><a href="#" class="btn btn-primary" role="button">click</a> <a href="#" class="btn btn-default" role="button">click</a></p>
			      </div>
			    </div>
			</div>
			<div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <img src="img/maska.jpg" alt="...">
			      <div class="caption">
			        <h2>Thumbnail label</h2>
			        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex nesciunt, vero voluptate</p>
			        <p><a href="#" class="btn btn-primary" role="button">click</a> <a href="#" class="btn btn-default" role="button">click</a></p>
			      </div>
			    </div>
			</div>
		</div>
		</div>
	</div>

<% include partials/footer %>