/* index page specific styles */

.jumbotron {
box-shadow: 0 0 33px 4px #333;
}

/*****************************************************************
						Media - mobile
*******************************************************************/
@media @xs {
	.home-container {

	}
}

/*****************************************************************
						Media - tablet
*******************************************************************/
@media @sm {
	.home-container {

	}
}

/*****************************************************************
						Media - desktop
*******************************************************************/
@media @md {
	.home-container {

	}
}

/*****************************************************************
						Media - large desktop
*******************************************************************/
@media @lg {
	.home-container {

	}
}