/* Libraries */
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

/* helpers */
@import "helpers/reset.less";
@import "helpers/mixins.less";
@import "helpers/icons-and-sprites.less";

/* wireframe variabes */
@import "colors.less";
@import "fonts.less";

/* media variables */
@lg: ~"(min-width: @{screen-lg-min})";
@md: ~"(min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";
@sm: ~"(min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
@xs: ~"(max-width: @{screen-xs-max})";

html, body {

}

body {
	font-family: 'Open Sans', sans-serif;
	color: @color-text-primary;
    background: #7ba2ba;
}	


h1,h2,h3,h4,h5 {
	color: @color-text-primary;
}

h1 {
	
}

a {
	
}



.main-container {
	
}

/*****************************************************************
						Media - mobile
*******************************************************************/
@media @xs {
	.main-container {

	}
}

/*****************************************************************
						Media - tablet
*******************************************************************/
@media @sm {
	.main-container {

	}
}

/*****************************************************************
						Media - desktop
*******************************************************************/
@media @md {
	.main-container {

	}
}

/*****************************************************************
						Media - large desktop
*******************************************************************/
@media @lg {
	.main-container {

	}
}




/* layouts */
@import "home.less";
@import "about.less";
@import "index.less";

/* partials */ 
@import "partials/header.less";
@import "partials/footer.less";